<input id="threesixty-expand"
       type="checkbox"
       name="threesixty-expand"/>
<div class="threesixty threesixty--fill">
    {{#each threesixty.items}}<input id="threesixty-radio-{{title}}"
               type="radio"
               name="threesixty"
               {{#is @index 0}}checked{{/is}} />{{/each}}
    <div class="threesixty--viewport" style="background-image: url({{assets}}/{{threesixty.background.asset}})">
        <div class="threesixty--axis">
            {{#each threesixty.items}}
                <div class="threesixty-item">
                    <h2>{{title}}</h2>
                    <img class="hero" src="{{../assets}}/{{asset}}"/>
                    {{#each nav}}
                        <label class="threesixty-{{style}}" for="threesixty-radio-{{./value}}">{{title}}</label>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="content">
    <p><strong><label for="threesixty-expand">Expand/Collapse</label></strong> lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a tempor tortor. Curabitur tincidunt lectus vitae turpis posuere, at cursus ipsum dignissim. Aenean et molestie nisl, sit amet pretium ligula. Phasellus mauris nunc, facilisis eu sapien vulputate, porta venenatis augue. Donec venenatis justo et erat sodales, quis congue felis viverra. Nulla at iaculis sem, congue convallis eros. Proin gravida arcu neque, a facilisis libero tristique ac. Proin lorem lacus, feugiat lacinia ligula a, ultrices pretium nibh.</p>
    <p>Morbi nec tristique ante. Duis rhoncus, tortor in scelerisque lacinia, sem urna adipiscing nunc, quis dictum risus arcu in velit. Pellentesque cursus libero vel egestas dictum. Vivamus congue justo a ante dignissim malesuada. Vestibulum a nibh mi. Donec nec elit ultricies, malesuada quam a, varius augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Mauris imperdiet, risus in hendrerit gravida, turpis orci bibendum ligula, sit amet malesuada urna tortor vel nisl. Mauris consequat placerat magna ac rutrum. Etiam elementum nulla et adipiscing dignissim.</p>
    <p>Nunc suscipit, nibh et ullamcorper adipiscing, lectus nisl ultricies erat, nec mollis lacus odio tincidunt nibh. Phasellus auctor malesuada mi, eget suscipit neque condimentum eget. Maecenas et tempus mi. Maecenas sit amet dui vel elit eleifend congue. Aenean quis mollis sapien. Sed libero leo, vulputate dapibus feugiat ac, pulvinar non nisi. Maecenas nec laoreet mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Aenean sit amet ipsum sit amet massa viverra cursus et quis tellus. Sed ligula justo, dapibus non lacus et, commodo rutrum metus. Donec aliquet eros ac commodo feugiat. Suspendisse laoreet, tellus vitae scelerisque suscipit, nisl metus imperdiet neque, id iaculis dui lorem sit amet tellus.</p>
    <p>Praesent eu mauris iaculis odio ullamcorper tempor laoreet eget tellus. Sed a dui eu lorem rutrum ornare blandit nec arcu. Donec pretium leo accumsan ultrices tincidunt. Donec id ullamcorper dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam ac ultricies nunc, pharetra ultrices dolor. Curabitur molestie tortor vitae lorem adipiscing hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum orci at justo laoreet, a malesuada ipsum volutpat. Mauris convallis elit varius erat lacinia, nec egestas magna vulputate. Cras consectetur mollis risus ut feugiat. Integer fringilla eros id blandit cursus.</p>
</div>
