<div class="content">
    {{#each threesixty.items}}
        <input id="threesixty-radio-{{@index}}"
               type="radio"
               name="threesixty"
               {{#is @index 0}}checked{{/is}} />
    {{/each}}
    <div class="threesixty threesixty--viewport" style="background-image: url({{assets}}/{{threesixty.background.asset}})">
        <div class="threesixty--axis">
        {{#each threesixty.items}}
            <div class="threesixty-item">
                <h2>{{title}}</h2>
                <img class="hero" src="{{../assets}}/{{asset}}"/>
                <label for="threesixty-radio-{{@index}}">{{title}}</label>
            </div>
        {{/each}}
        </div>
    </div>
</div>